@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.Logo {
  height: 50px;
  pointer-events: none;
}

.Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}

.Header {
  color: white;
}

.CustomText {
  font-size: 20px;
}

.CustomButton {
  border-radius: 0;
  border: 0;
}

.CustomMenuButton {
  background: #6a85b6;

  background: -webkit-linear-gradient(to right, rgba(106, 133, 182, 0.5), rgba(186, 200, 224, 0.5));

  background: linear-gradient(to right, rgba(106, 133, 182, 0.5), rgba(186, 200, 224, 0.5));
  border-radius: 5px;
  border-style: solid;
}

.CustomMenuButton:focus {
  opacity: 0.5;
}

.CustomButton:focus {
  background-color: white;
}

.CustomTable {
  border: solid;
  column-width: 500px;
}

.CustomTableText {
  text-align: justify;
}

.CustomGradient {
  background: #6a85b6;

  background: -webkit-linear-gradient(to right, rgba(106, 133, 182, 0.5), rgba(186, 200, 224, 0.5));

  background: linear-gradient(to right, rgba(106, 133, 182, 0.5), rgba(186, 200, 224, 0.5));
}